In [24]:
import os
import numpy as np
import pandas as pd

In [28]:

file_path_1 = '/Users/edocampione/Desktop/Meng Engineering Science/4YP/data/COMPUSTAT_ALL.csv' # Fundamental data
df1 = pd.read_csv(file_path_1)
df1['datadate'] = pd.to_datetime(df1['datadate'])
df1 = df1.sort_values(by=['tic', 'datadate'])

df1.info()

/var/folders/2f/bmcm36r135v_v27k0vz0w_dr0000gn/T/ipykernel_36193/3519284394.py:2: DtypeWarning: Columns (10,17,26,650,657,668,669,679) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(file_path_1)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17770 entries, 1237 to 15084
Columns: 680 entries, gvkey to ipodate
dtypes: datetime64[ns](1), float64(622), int64(16), object(41)
memory usage: 92.3+ MB

In [ ]:
df1 = df1['']


df1['prccq'] = df1['prccq'] / df1['ajexq']

In [26]:
df1.head()

,gvkey,datadate,fyearq,fqtr,fyr,indfmt,consol,popsrc,datafmt,tic,...,priusa,sic,spcindcd,spcseccd,spcsrc,state,stko,weburl,dldte,ipodate
1237,1690,1979-12-31,1980,1,9,INDL,C,D,STD,AAPL,...,1,3663,190.0,940.0,A+,CA,0,www.apple.com,NaN,1980-12-12
1238,1690,1980-03-31,1980,2,9,INDL,C,D,STD,AAPL,...,1,3663,190.0,940.0,A+,CA,0,www.apple.com,NaN,1980-12-12
1239,1690,1980-06-30,1980,3,9,INDL,C,D,STD,AAPL,...,1,3663,190.0,940.0,A+,CA,0,www.apple.com,NaN,1980-12-12
1240,1690,1980-09-30,1980,4,9,INDL,C,D,STD,AAPL,...,1,3663,190.0,940.0,A+,CA,0,www.apple.com,NaN,1980-12-12
1241,1690,1980-12-31,1981,1,9,INDL,C,D,STD,AAPL,...,1,3663,190.0,940.0,A+,CA,0,www.apple.com,NaN,1980-12-12

In [27]:
file_path_2 = '/Users/edocampione/Desktop/Meng Engineering Science/4YP/data/RATIOS_FIRM_ALL.csv' # Financial ratios data
df2 = pd.read_csv(file_path_2)
df2['qdate'] = pd.to_datetime(df2['qdate'])
df2['public_date'] = pd.to_datetime(df2['public_date'])

# Sort by qdate and public_date to ensure the most recent public_date comes last
df2 = df2.sort_values(by=['qdate', 'public_date'])
# Drop duplicates to keep only the first public_date for each qdate
df2 = df2.drop_duplicates(subset=['qdate','TICKER'], keep='first')
'''
columns_to_keep = [
    'gvkey', 'qdate', 'roa',
    'roe','pe_inc', 'divyield',
    'pcf', 'roce', 'fcf_ocf',
    'debt_ebitda', 'gpm', 'opmad',
    'evm', 'intcov_ratio', 'at_turn',
    'cfm', 'npm', 'PEG_trailing',
    'de_ratio', 'curr_ratio', 'ptb',
]
'''
#df2 = df2[columns_to_keep]

# convert divyield to float
df2['divyield'] = df2['divyield'].replace('%', '', regex=True).astype(float)

df2 = df2.sort_values(by=['qdate'])

df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18469 entries, 0 to 35663
Data columns (total 78 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   gvkey            18469 non-null  int64
 1   permno           18469 non-null  int64
 2   adate            18432 non-null  object
 3   qdate            18453 non-null  datetime64[ns]
 4   public_date      18469 non-null  datetime64[ns]
 5   CAPEI            18088 non-null  float64
 6   bm               18164 non-null  float64
 7   evm              18360 non-null  float64
 8   pe_op_basic      12874 non-null  float64
 9   pe_op_dil        9243 non-null   float64
 10  pe_exi           17610 non-null  float64
 11  pe_inc           17597 non-null  float64
 12  ps               18439 non-null  float64
 13  pcf              18370 non-null  float64
 14  dpr              17235 non-null  float64
 15  npm              18435 non-null  float64
 16  opmbd            18434 non-null  float64
 17  opmad            18434 non-null  float64
 18  gpm              18432 non-null  float64
 19  ptpm             18433 non-null  float64
 20  cfm              17814 non-null  float64
 21  roa              18376 non-null  float64
 22  roe              18093 non-null  float64
 23  roce             18127 non-null  float64
 24  efftax           17084 non-null  float64
 25  aftret_eq        18386 non-null  float64
 26  aftret_invcapx   17991 non-null  float64
 27  aftret_equity    18377 non-null  float64
 28  pretret_noa      15834 non-null  float64
 29  pretret_earnat   15876 non-null  float64
 30  GProf            18435 non-null  float64
 31  equity_invcap    18408 non-null  float64
 32  debt_invcap      18353 non-null  float64
 33  totdebt_invcap   18306 non-null  float64
 34  capital_ratio    18383 non-null  float64
 35  int_debt         16640 non-null  float64
 36  int_totdebt      16729 non-null  float64
 37  cash_lt          18362 non-null  float64
 38  invt_act         15900 non-null  float64
 39  rect_act         15883 non-null  float64
 40  debt_at          18332 non-null  float64
 41  debt_ebitda      18259 non-null  float64
 42  short_debt       17830 non-null  float64
 43  curr_debt        16063 non-null  float64
 44  lt_debt          18377 non-null  float64
 45  profit_lct       16068 non-null  float64
 46  ocf_lct          16017 non-null  float64
 47  cash_debt        18251 non-null  float64
 48  fcf_ocf          16372 non-null  float64
 49  lt_ppent         18375 non-null  float64
 50  dltt_be          18116 non-null  float64
 51  debt_assets      18430 non-null  float64
 52  debt_capital     18180 non-null  float64
 53  de_ratio         18430 non-null  float64
 54  intcov           16904 non-null  float64
 55  intcov_ratio     16901 non-null  float64
 56  cash_ratio       16020 non-null  float64
 57  quick_ratio      15931 non-null  float64
 58  curr_ratio       15980 non-null  float64
 59  cash_conversion  14554 non-null  float64
 60  inv_turn         15825 non-null  float64
 61  at_turn          18389 non-null  float64
 62  rect_turn        18046 non-null  float64
 63  pay_turn         17605 non-null  float64
 64  sale_invcap      18409 non-null  float64
 65  sale_equity      18151 non-null  float64
 66  sale_nwc         13693 non-null  float64
 67  rd_sale          18440 non-null  float64
 68  adv_sale         18429 non-null  float64
 69  staff_sale       18429 non-null  float64
 70  accrual          18374 non-null  float64
 71  ptb              18164 non-null  float64
 72  PEG_trailing     12275 non-null  float64
 73  divyield         13916 non-null  float64
 74  PEG_1yrforward   14516 non-null  float64
 75  PEG_ltgforward   12818 non-null  float64
 76  TICKER           18428 non-null  object
 77  cusip            18437 non-null  object
dtypes: datetime64[ns](2), float64(71), int64(2), object(3)
memory usage: 11.1+ MB

In [13]:
df = pd.merge(df1, df2, left_on=['datadate', 'gvkey'], right_on=['qdate', 'gvkey'], how='inner')

columns_to_keep = [
    'gvkey', 'datadate', 'tic',
    'actq', 'ancq', 'epsfxq',
    'lctq', 'ltq', 'revtq',
    'capxy', 'prccq', 'roa',
    'roe','pe_inc', 'divyield',
    'pcf', 'roce', 'debt_ebitda',
    'gpm', 'evm', 'cfm', 'npm',
    'PEG_trailing', 'de_ratio',
    'curr_ratio', 'ptb',
]

column_renames = {
    'datadate': 'date', 
    'PRC': 'price', 
    'epsfxq': 'earnings_per_share', 
    'ltq': 'long_term_debt', 
    'niq': 'net_income', 
    'revtq': 'revenue', 
    'capxy': 'capital_expenditure', 
    'npm': 'net_profit_margin', 
    'de_ratio': 'debt/equity_Ratio', 
    'curr_ratio': 'current_ratio', 
    'ptb': 'price/book_ratio',
    'tic': 'ticker',
    'actq': 'current_assets',
    'ancq': 'non_current_assets',
    'lctq': 'total_liability',
    'prccq': 'price',
    'roa': 'return_on_assets',
    'roe': 'return_on_equity',
    'pe_inc': 'price/equity_ratio',
    'divyield': 'dividend_yield',
    'pcf': 'price/cash_flow',
    'roce': 'return_on_capital_employed',
    'debt_ebitda': 'debt/ebitda_ratio',
    'gpm': 'gross_profit_margin',
    'evm': 'enterprise_value_multiple',
    'cfm': 'cash_flow_margin',
    'PEG_trailing': 'trailing_p/e_to_growth_ratio'
}

df = df[columns_to_keep]

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15523 entries, 0 to 15522
Data columns (total 26 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   gvkey         15523 non-null  int64
 1   datadate      15523 non-null  datetime64[ns]
 2   tic           15523 non-null  object
 3   actq          12739 non-null  float64
 4   ancq          12361 non-null  float64
 5   epsfxq        15404 non-null  float64
 6   lctq          12742 non-null  float64
 7   ltq           14742 non-null  float64
 8   revtq         15076 non-null  float64
 9   capxy         12419 non-null  float64
 10  prccq         15502 non-null  float64
 11  roa           15469 non-null  float64
 12  roe           15264 non-null  float64
 13  pe_inc        14789 non-null  float64
 14  divyield      11974 non-null  float64
 15  pcf           15464 non-null  float64
 16  roce          15350 non-null  float64
 17  debt_ebitda   15346 non-null  float64
 18  gpm           15502 non-null  float64
 19  evm           15427 non-null  float64
 20  cfm           15192 non-null  float64
 21  npm           15503 non-null  float64
 22  PEG_trailing  10630 non-null  float64
 23  de_ratio      15498 non-null  float64
 24  curr_ratio    13523 non-null  float64
 25  ptb           15318 non-null  float64
dtypes: datetime64[ns](1), float64(23), int64(1), object(1)
memory usage: 3.2+ MB

In [14]:
df = df.sort_values(by=['tic','datadate'])

df.head()

,gvkey,datadate,tic,actq,ancq,epsfxq,lctq,ltq,revtq,capxy,...,roce,debt_ebitda,gpm,evm,cfm,npm,PEG_trailing,de_ratio,curr_ratio,ptb
0,1690,1980-12-31,AAPL,145.720,16.402,0.14,28.866,31.117,67.621,NaN,...,1.240,0.027,0.433,13.535,0.112,0.100,NaN,0.556,2.612,11.083
1,1690,1981-03-31,AAPL,173.152,17.587,0.16,39.428,43.693,78.765,NaN,...,1.587,0.020,0.440,17.753,0.112,0.104,NaN,0.420,3.234,12.188
2,1690,1981-06-30,AAPL,201.262,21.085,0.21,49.914,58.268,90.719,NaN,...,2.136,0.028,0.463,18.791,0.112,0.115,NaN,0.368,3.681,6.507
3,1690,1981-09-30,AAPL,227.104,27.734,0.19,70.280,77.451,97.678,NaN,...,0.583,0.182,0.487,11.468,0.143,0.118,NaN,0.437,3.231,5.659
4,1690,1981-12-31,AAPL,249.160,36.026,0.24,83.952,92.894,133.553,NaN,...,0.429,0.031,0.503,14.316,0.140,0.114,NaN,0.400,3.492,5.086

In [15]:
file_path_3 = '/Users/edocampione/Desktop/Meng Engineering Science/4YP/data/s&p500index.csv' # s&p500
df3 = pd.read_csv(file_path_3)
df3['caldt'] = pd.to_datetime(df3['caldt'])  # Adjust column name if needed

df = df.sort_values(by=['datadate'])


#merge (fill empty cells with nearest s&p500 value)
df = pd.merge_asof(df, df3, left_on='datadate', right_on='caldt', direction='nearest')
df = df.drop(columns=['caldt'])

# calculate relative returns
#df['relative_quarterly_return'] = (df['prccq'] - df['spindx'])
#df = df.drop(columns=['prccq', 'spindx'])

#df = df.dropna(subset=['prccq'])

df = df.sort_values(by=['tic','datadate']).reset_index()
df.head()

,index,gvkey,datadate,tic,actq,ancq,epsfxq,lctq,ltq,revtq,...,debt_ebitda,gpm,evm,cfm,npm,PEG_trailing,de_ratio,curr_ratio,ptb,spindx
0,2010,1690,1980-12-31,AAPL,145.720,16.402,0.14,28.866,31.117,67.621,...,0.027,0.433,13.535,0.112,0.100,NaN,0.556,2.612,11.083,135.76
1,2067,1690,1981-03-31,AAPL,173.152,17.587,0.16,39.428,43.693,78.765,...,0.020,0.440,17.753,0.112,0.104,NaN,0.420,3.234,12.188,136.00
2,2115,1690,1981-06-30,AAPL,201.262,21.085,0.21,49.914,58.268,90.719,...,0.028,0.463,18.791,0.112,0.115,NaN,0.368,3.681,6.507,131.21
3,2132,1690,1981-09-30,AAPL,227.104,27.734,0.19,70.280,77.451,97.678,...,0.182,0.487,11.468,0.143,0.118,NaN,0.437,3.231,5.659,116.18
4,2208,1690,1981-12-31,AAPL,249.160,36.026,0.24,83.952,92.894,133.553,...,0.031,0.503,14.316,0.140,0.114,NaN,0.400,3.492,5.086,122.55

In [16]:


# convert features to pct

features = [
    'actq', 'ancq', 'epsfxq',
    'lctq', 'ltq', 'revtq',
    'capxy']

ratios = [
    'roa', 'roe','pe_inc', 'divyield',
    'pcf', 'roce',
    'debt_ebitda', 'gpm','evm',
    'cfm', 'npm', 'PEG_trailing',
    'de_ratio', 'curr_ratio', 'ptb']

df[features] = df[features].pct_change()

for col in ratios:
    df[col + '_change'] = df.groupby('tic')[col].pct_change()


df['prccq_change'] = df.groupby('tic')['prccq'].pct_change()
df['next_prccq_change'] = df.groupby('tic')['prccq_change'].shift(-1)

df['spindx_change'] = df.groupby('tic')['spindx'].pct_change()
df['next_spindx_change'] = df.groupby('tic')['spindx_change'].shift(-1)

df['relative_quarterly_return'] = (df['prccq_change'] - df['spindx_change'])
df['next_relative_quarterly_return'] = (df['next_prccq_change'] - df['next_spindx_change'])

#df = df.drop(columns=['prccq', 'spindx'])

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15523 entries, 0 to 15522
Data columns (total 49 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   index                           15523 non-null  int64
 1   gvkey                           15523 non-null  int64
 2   datadate                        15523 non-null  datetime64[ns]
 3   tic                             15523 non-null  object
 4   actq                            15522 non-null  float64
 5   ancq                            15522 non-null  float64
 6   epsfxq                          15521 non-null  float64
 7   lctq                            15522 non-null  float64
 8   ltq                             15522 non-null  float64
 9   revtq                           15522 non-null  float64
 10  capxy                           14963 non-null  float64
 11  prccq                           15502 non-null  float64
 12  roa                             15469 non-null  float64
 13  roe                             15264 non-null  float64
 14  pe_inc                          14789 non-null  float64
 15  divyield                        11974 non-null  float64
 16  pcf                             15464 non-null  float64
 17  roce                            15350 non-null  float64
 18  debt_ebitda                     15346 non-null  float64
 19  gpm                             15502 non-null  float64
 20  evm                             15427 non-null  float64
 21  cfm                             15192 non-null  float64
 22  npm                             15503 non-null  float64
 23  PEG_trailing                    10630 non-null  float64
 24  de_ratio                        15498 non-null  float64
 25  curr_ratio                      13523 non-null  float64
 26  ptb                             15318 non-null  float64
 27  spindx                          15523 non-null  float64
 28  roa_change                      15403 non-null  float64
 29  roe_change                      15393 non-null  float64
 30  pe_inc_change                   14753 non-null  float64
 31  divyield_change                 12370 non-null  float64
 32  pcf_change                      15397 non-null  float64
 33  roce_change                     15352 non-null  float64
 34  debt_ebitda_change              14941 non-null  float64
 35  gpm_change                      15418 non-null  float64
 36  evm_change                      15418 non-null  float64
 37  cfm_change                      15143 non-null  float64
 38  npm_change                      15418 non-null  float64
 39  PEG_trailing_change             14029 non-null  float64
 40  de_ratio_change                 15418 non-null  float64
 41  curr_ratio_change               13896 non-null  float64
 42  ptb_change                      15424 non-null  float64
 43  prccq_change                    15410 non-null  float64
 44  next_prccq_change               15410 non-null  float64
 45  spindx_change                   15430 non-null  float64
 46  next_spindx_change              15430 non-null  float64
 47  relative_quarterly_return       15410 non-null  float64
 48  next_relative_quarterly_return  15410 non-null  float64
dtypes: datetime64[ns](1), float64(45), int64(2), object(1)
memory usage: 5.8+ MB

In [17]:
df = df.sort_values(by=['tic','datadate'])

df_temp = df[['spindx', 'spindx_change', 'next_spindx_change', 'prccq', 'prccq_change', 'next_prccq_change']]

df.head()


#df.to_csv('processed_data.csv', index=False)  # Set index=False to exclude the index column

,index,gvkey,datadate,tic,actq,ancq,epsfxq,lctq,ltq,revtq,...,PEG_trailing_change,de_ratio_change,curr_ratio_change,ptb_change,prccq_change,next_prccq_change,spindx_change,next_spindx_change,relative_quarterly_return,next_relative_quarterly_return
0,2010,1690,1980-12-31,AAPL,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,-0.282051,NaN,0.001768,NaN,-0.283819
1,2067,1690,1981-03-31,AAPL,0.188251,0.072247,0.142857,0.365898,0.404152,0.164801,...,NaN,-0.244604,0.238132,0.099702,-0.282051,0.061225,0.001768,-0.035221,-0.283819,0.096445
2,2115,1690,1981-06-30,AAPL,0.162343,0.198897,0.312500,0.265953,0.333577,0.151768,...,NaN,-0.123810,0.138219,-0.466114,0.061225,-0.413461,-0.035221,-0.114549,0.096445,-0.298912
3,2132,1690,1981-09-30,AAPL,0.128400,0.315343,-0.095238,0.408022,0.329220,0.076709,...,NaN,0.187500,-0.122249,-0.130321,-0.413461,0.450819,-0.114549,0.054829,-0.298912,0.395990
4,2208,1690,1981-12-31,AAPL,0.097119,0.298983,0.263158,0.194536,0.199391,0.367278,...,NaN,-0.084668,0.080780,-0.101255,0.450819,-0.237288,0.054829,-0.086414,0.395990,-0.150875

In [18]:
# Replace inf and -inf with NaN
df.replace(['inf', '-inf', np.inf, -np.inf], np.nan, inplace=True)

df.head()

,index,gvkey,datadate,tic,actq,ancq,epsfxq,lctq,ltq,revtq,...,PEG_trailing_change,de_ratio_change,curr_ratio_change,ptb_change,prccq_change,next_prccq_change,spindx_change,next_spindx_change,relative_quarterly_return,next_relative_quarterly_return
0,2010,1690,1980-12-31,AAPL,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,-0.282051,NaN,0.001768,NaN,-0.283819
1,2067,1690,1981-03-31,AAPL,0.188251,0.072247,0.142857,0.365898,0.404152,0.164801,...,NaN,-0.244604,0.238132,0.099702,-0.282051,0.061225,0.001768,-0.035221,-0.283819,0.096445
2,2115,1690,1981-06-30,AAPL,0.162343,0.198897,0.312500,0.265953,0.333577,0.151768,...,NaN,-0.123810,0.138219,-0.466114,0.061225,-0.413461,-0.035221,-0.114549,0.096445,-0.298912
3,2132,1690,1981-09-30,AAPL,0.128400,0.315343,-0.095238,0.408022,0.329220,0.076709,...,NaN,0.187500,-0.122249,-0.130321,-0.413461,0.450819,-0.114549,0.054829,-0.298912,0.395990
4,2208,1690,1981-12-31,AAPL,0.097119,0.298983,0.263158,0.194536,0.199391,0.367278,...,NaN,-0.084668,0.080780,-0.101255,0.450819,-0.237288,0.054829,-0.086414,0.395990,-0.150875

In [19]:
#df.to_csv('dati_trattati_new.csv', index=False)  # Set index=False to exclude the index column